
@{
    ViewBag.Title = "SetPickupDay";
}

<h2>SetPickupDay</h2>

<div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-primary">
        <input type="radio" name="options" id="option1" autocomplete="off"> Monday
    </label>
    <label class="btn btn-primary">
        <input type="radio" name="options" id="option2" autocomplete="off"> Tuesday
    </label>
    <label class="btn btn-primary">
        <input type="radio" name="options" id="option3" autocomplete="off"> Wednesday
    </label>
    <label class="btn btn-primary">
        <input type="radio" name="options" id="option4" autocomplete="off"> Thursday
    </label><label class="btn btn-primary">
        <input type="radio" name="options" id="option5" autocomplete="off"> Friday
    </label>
    <label class="btn btn-primary active">
        <input type="radio" name="options" id="option6" autocomplete="off"> Saturday
    </label>
    <label class="btn btn-primary active">
        <input type="radio" name="options" id="option7" autocomplete="off"> Sunday
    </label>
</div>

