@model GarbageCollection.Models.EmployeeModels

@{
    ViewBag.Title = "EmployeePortal";
}

@*DISPLAY UPCOMMING PICKUPS*@

<body>

    <div class="col-lg-10">
       @*@Html.Action("_MapPickupsByEmployeeZip", "Pickups", new { id = Model.EmployeeId})*@

    </div>
    <div>


    </div>

</body>

