@{
    ViewBag.Title = "Home Page";
}
<html>
<body>

    <div class="jumbotron">

        <h2>Garbage Collection Services</h2>
        <p class="lead">Municipal trash service web application</p>



    </div>
</body>
</html>

